$primary_color: #000DFF;

$secondary-color: #27CB8B;

$text_main_color: #00044A;

$text_light_color: #6D6E8D;

$text-link-color: #fff;

$light-bg: #F1F5F9;

$font_family: 'DM Sans', sans-serif;

$spacer: 8px;